* {
  margin: 0;
}

html {
  height: 150%;
  background-color: #b184b9;
}
.wrapper {
  box-sizing: border-box;
  padding-top: 30px;
  padding-left: 8px;
  margin-top:65px;
}

nav {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #e483c7;
  color: white;
  box-sizing: border-box;
  padding: 20px 8px;
  z-index: 2;
  margin-bottom: 16px;
  color: white;
}

a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
}

header {
  position: relative;
  top: 85px;
  width: 100px;
  height: 60px;
  background-color: #8b4476;
  border: 3px solid #f05da6;
  margin-top: 10px;
  color: black;
  text-align: center;
  font-size: 3em;
  padding-top: 10px;
}

.aside {
  width: 20%;
  height: 100px;
  background-color: rgb(126, 26, 112);
  position: absolute;
  left: 70%;
  top: 200px;
  box-shadow: 10px;
  border-radius: 15px;
  font-size: 3em;
  text-align:center;
}

footer {
  width: 100%;
  height: 50px;
  background-color: rgb(192, 11, 122);
  position: fixed;
  bottom: 0px;
}
.homeheader{
  text-align: center; 
  margin: auto;
width: 100%;
padding: 10px;
}

.pSpacing{
  margin-bottom: 20px;
}
.containerguy{
  width: 50%;
  height: 100%;
  background-color: #aa2577;
  border: 5px solid #a83395;
  position: relative;
  top: 5px;
  left: 5px;
  border-radius: 1px;
  padding: 10px;
  box-sizing: border-box;
}
.smallcontainerguy{
  width: 35%;
  height: 50%;
  background-color: #aa2577;
  border: 5px solid #a83395;
  position: relative;
  top: 15px;
  left: 75px;
  border-radius: 15px;
  padding: 10px;
  box-sizing: border-box;
  margin: 8px;
}
.smallcontainerguy2{
  width: 35%;
  height: 50%;
  background-color: #aa2577;
  border: 5px solid #a83395;
  position: relative;
  top: -455px;
  left: 800px;
  border-radius: 15px;
  padding: 10px;
  box-sizing: border-box;
  margin: 8px;
}
.smallcontainerguy3{
  width: 35%;
  height: 50%;
  background-color: #aa2577;
  border: 5px solid #a83395;
  position: relative;
  top: -389px;
  left: 75px;
  border-radius: 15px;
  padding: 10px;
  box-sizing: border-box;
  margin: 8px;
}
.smallcontainerguy4{
  width: 35%;
  height: 50%;
  background-color: #aa2577;
  border: 5px solid #a83395;
  position: relative;
  top: -855px;
  left: 800px;
  border-radius: 15px;
  padding: 10px;
  box-sizing: border-box;
  margin: 8px;
}
.taco_pics {
    height: 200px;
  }
  @media only screen and (max-width : 800px){
    .p1{
      position: absolute;
      width: 100%;
      height: 200px;
    }
    .p2{
      width: 100%;
    }
  }
  @media only screen and (min-width : 800px){
    .p1{
      position: absolute;
      width: 250px;
      height: 200px;
    }
    .p2{
      width: 250px;

    }
  }